<h1{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Nimit Maru</b><br>
      100 followers
    </div>
    <div class="col-md-9">
      {% if showForm %}
        <form action="/users/{{userId}}" method="POST">
        <label for="name_field">Name:</label>
    
        {% if showName %}
          <input name="name" value="{{name}}"" type="text" id="name_field" />
        {% else %}
          <input name="name" type="text" id="name_field" />
        {% endif %}

        <label for="text_field">Text:</label>
        <input name="text" type="text" id="text_field" style="width: 350px;" />

        <input type="submit" value="Submit" />
        </form>
    {% endif %}
  		<h2>All Tweets</h2>		
      <form method='get' action='/seed'>
        <button class='btn btn-warning' style='margin-bottom: 10px'>Seed</button>
      </form>
  		<ul class='list-group'>
  			{% for tweet in tweets %}
  		    <li class='list-group-item'>
          <img height= 35px src="{{tweet.picture_url}}" >
  		    <a href="/users/{{tweet.user_id}}"> {{tweet.name}} </a><br>
  		    <a href="/tweets/{{tweet.id}}">{{tweet.content}}<br>
          ID: {{tweet.id}}</a><br>
  		    Retweet 
  		    </li>
  		    
  		  {% endfor %}
  		</ul>
    </div>
  </div>
    
{% endblock %}